* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  backgr ound-color: #f8f7fc;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.3em;
}

.container{
  width: 700px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.bubble {
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}
